.App {
  background-image: linear-gradient(
      to bottom,
      rgba(22, 32, 85, 0.9),
      rgba(37, 0, 51, 0.9)
    ),
    url(assets/Mass.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
